//MULTIPLE CATEGORIES COLLECTION PAGE
.collections-overview {
  display: flex;
  flex-direction: column;

  .collection-preview {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 80rem){
      align-items: center;
  }
    .preview {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 80rem){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5rem;
    }
    }

    .collection-button {
      margin-left: auto;
      font-size: 1.8rem;
      border-bottom: $border-thin-original;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        border-bottom: $border-thin-dark;
      }
    }
  }
}

//SINGLE CATEGORY COLLECTION PAGE
.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 3.8rem;
    margin: 0 auto 30px;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}

//ITEMS in ABOVE PAGES
.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 42rem;
  align-items: center;
  position: relative;


  @media screen and (max-width: 80rem){
    width: 40vw;
}

  .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;    
    transition: opacity .3s ease;
  }

  .custom-button {
    width: 80%;
    position: absolute;
    top: 28rem;
    display: none;

    @media screen and (max-width: 80rem){
      display: block;
      opacity: .9;
      min-width: unset;
  }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;

  &:hover {
    .image {
      opacity: 0.9;
    }

    .custom-button {
      display: flex;
    }

    @media screen and (max-width: 80rem){
      .image {
        opacity: unset;
      }

      .custom-button {
        display: block;
      }
  }
}
}
}