.header {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 50em){
    height: 6rem;
    padding: 1rem;
    margin: 2rem 0;
}

  .logo-container {
    height: 100%;
    width: 7rem;
    position: relative;

    @media screen and (max-width: 50em){
      width: 5rem;
  }

    .logo {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -20%);

      @media screen and (max-width: 50em){
        transform: translate(-50%, -30%) scale(0.7);
    }
    }
  }

  .navbar {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 50em){
      width: 80%;
  }

    .nav {
      padding: 1rem 1.5rem;
      cursor: pointer;
      font-size: 1.3rem;

      @media screen and (max-width: 50em){
        padding: 1rem 0.6rem;
    }

      &:link,
      &:visited {
        text-decoration: none;
        color: $color-black;
      }
    }

    .cart-icon {
      width: 4.5rem;
      height: 4.5rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      
      @media screen and (max-width: 50em){
        width: 3.5rem;
    }
    
      .shopping-icon {
        width: 2.4rem;
        height: 2.4rem;
      }
    
      .item-count {
        position: absolute;
        font-size: 1rem;
        font-weight: bold;
        bottom: 1.3rem;
        right: 0.9rem;
      }
    }
  
  }
}
